<!DOCTYPE html>
<html>
<head style="width:100%; background-color:black; height:10%">
    <meta name="viewport" content="width=device-width" />
    <title>Fap Schedule</title>
</head>
<body style="text-align:center">
    <div>
        <div style="width:100%; background-color:black; height:10%">
            <h3 style="color:white"></h3>
        </div>
        
        @RenderBody()
    </div>
</body>
</html>